
<app-spinner-or-error
    *ngIf="(loading$ | async) || errMsg" [loading$]="loading$" [errMsg]="errMsg">
</app-spinner-or-error>

<ng-container *ngIf="!(loading$ | async) && !errMsg">
  <div class="table-wrapper">
    <caption>Coupon Schedule</caption>
    <div class="scroll-div">
      <table class="cashflow" mat-table [dataSource]="cashflow">
        <tr mat-header-row class="sec-header"
            *matHeaderRowDef="cashflowColumns;sticky: true">
        </tr>

        <tr mat-row
            *matRowDef="let item; columns: cashflowColumns; let i=dataIndex;">
        </tr>

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let cashflw;" class="step-align">
            <div class="cell-div">
              {{ cashflw.t_date | date: 'y-MM-d' }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Coupon">
          <th mat-header-cell *matHeaderCellDef> Coupon </th>
          <td mat-cell *matCellDef="let cashflw;" class="step-align">
            <div class="cell-div">
              {{ cashflw.coupon * 100 | number: '1.2-2' }} %
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Principal">
          <th mat-header-cell *matHeaderCellDef> Principal </th>
          <td mat-cell *matCellDef="let cashflw;" class="step-align">
            <div class="cell-div">
              {{ cashflw.principal_amt | number: '1.2-2' }} %
            </div>
          </td>
        </ng-container>

      </table>
    </div>
  </div>

  <div class="table-wrapper">
    <caption>Factor Schedule</caption>
    <div class="scroll-div">
      <table class="factor" mat-table [dataSource]="factor">
        <tr mat-header-row class="sec-header"
            *matHeaderRowDef="factorColumns;sticky: true">
        </tr>

        <tr mat-row
            *matRowDef="let item; columns: factorColumns; let i=dataIndex;">
        </tr>

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let cashflw;" class="step-align">
            <div class="cell-div">
              {{ cashflw.t_date | date: 'y-MM-d' }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Factor">
          <th mat-header-cell *matHeaderCellDef> Factor </th>
          <td mat-cell *matCellDef="let cashflw;" class="step-align">
            <div class="cell-div">
              {{ cashflw.factor | number: '1.2-2' }}
            </div>
          </td>
        </ng-container>

      </table>
    </div>
  </div>

</ng-container>
