@import '~src/helpers';

:host {
  //display: flex;
  table-layout: fixed;
  // display: inline-block;
  display: table;
  width: 100%;
  // height: 100%;
  //flex-direction: column;
  //height: 100%;
  display: table;
  width: 100%;

  ::ng-deep {
    th.tiny-sort {
      ::ng-deep {
        div.mat-sort-header-arrow {
          margin: 0px;
          transform: translateY(0px)scaleX(0.5)!important;
        }
      }
    }

    td.mat-cell {
      padding-right: 0px;
    }

    td.tiny-sort.right-align div.cell-div {
      padding-right: 10px!important;
      width: calc(100% - 10px);
    }

    th.right-align.subheader {
      padding-left: 0px;
      padding-right: 0px;
      text-align: right;
      padding-right: 10px!important;
    }

    th.right-align.mat-sort-header {
      padding-left: 0px;
      padding-right: 0px!important;
      ::ng-deep .mat-sort-header-container {
        display: flex;
        justify-content: flex-end;
      }
    }

    td.right-align {
      div.cell-div {
        padding-right: 20px!important;
        text-align: right;
        width: calc(100% - 20px);
      }
    }

    div.cell-div {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }
  }

}

tr.pos-header {
  * {
    font-weight: bold;
  }
}
