
<div class="page-table">
  <div class="upper-panel panel">
    <app-widget-window class="market-monitor" [title]="'Market Monitor'">
      <app-market-monitor></app-market-monitor>
    </app-widget-window>
  </div>

  <div class="lower-panel panel">
    <app-widget-window class="position-monitor" [title]="'Positions Monitor'">
      <app-positions-monitor></app-positions-monitor>
    </app-widget-window>

    <app-widget-window class="position-monitor" [title]="'Orders Monitor'">
      <app-orders-monitor></app-orders-monitor>
    </app-widget-window>
  </div>
</div>
