<div class="action-bar--wrapper action-bar--group-container" aria-label="Action bar">
	<div class="action-bar--group action-bar--left">
		<ul>
			<li *ngIf="trade" class="action-bar--item action-bar--item-submenu action-bar--item-trade">
				<a class="action-bar--item-title trade" (click)="showTrade()">
          Trade<span class="action-bar--item-counter"></span></a>
			</li>

			<li *ngIf="secInfo" class="action-bar--item action-bar--item-submenu action-bar--item-quick-quote" id="action-bar-item-quick-quote-float" style="">
				<a class="action-bar--item-title sec-info" (click)="showSecInfo()">
          Security Info<span class="action-bar--item-counter"></span></a>
			</li>

      <li *ngIf="secInfo" class="action-bar--item action-bar--item-submenu action-bar--item-quick-quote" id="action-bar-item-quick-quote-float" style="">
				<a class="action-bar--item-title sec-info" (click)="showToolbox()">
          Toolbox<span class="action-bar--item-counter"></span></a>
			</li>

		</ul>
	</div>
  <div class="spacer"></div>
	<div class="action-bar--group action-bar--right">
		<ul>
			<li *ngIf="message" class="action-bar--item action-bar--item-submenu">
				<a class="action-bar--item-title messages"><span>Messages </span></a>
			</li>
		</ul>
	</div>
</div>
