{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block styles %}
{{super()}}
<meta charset="utf-8">
<script src="./static/src/jquery/jquery.js"></script>

<link href="./static/src/jquery/stylesheets/jquery-ui.css" rel="stylesheet">
<script src="./static/src/jquery/jquery-ui.js" type="text/javascript"></script>

<link href="./static/src/jquery.gridster/jquery.gridster.css" rel="stylesheet">
<script src="./static/src/jquery.gridster/jquery.gridster.js" type="text/javascript"></script>

<script src="./static/src/numeral/numeral.js" type="text/javascript"></script>

<script src="./static/src/knockout-3.4.2/knockout.debug.js" type="text/javascript"></script>

<link href="./static/src/datatable/datatables.css" rel="stylesheet">
<script src="./static/src/datatable/datatables.js" type="text/javascript"></script>

<link href="./static/src/chosen/chosen.css" rel="stylesheet">
<script src="./static/src/chosen/chosen.jquery.js" type="text/javascript"></script>

<link href="./static/src/vis-4.21.0/vis.css" rel="stylesheet">
<script src="./static/src/vis-4.21.0/vis.js", type="text/javascript"></script>

<script src="./static/src/handlebars/handlebars-v4.0.11.js" type="text/javascript"></script>

<script src="./static/src/spjs_utility/spjs-utility.js", type="text/javascript"></script>
<script src="./static/src/d3/d3.js" type="text/javascript"></script>

<script src="./static/src/loadingIcon/loadingIcon.js" type="text/javascript"></script>

<script src="./static/src/widget/drag_drop/drag_drop.js" type="text/javascript"></script>

<link href="./static/src/widget/secselect/secselect.css" rel="stylesheet">
<script src="./static/src/widget/secselect/secselect.js" type="text/javascript"></script>

<link href="./static/src/widget/plotchart/plotchart.css" rel="stylesheet">
<script src="./static/src/widget/plotchart/plotchart.js" type="text/javascript"></script>

<script src="./static/src/widget/finraiframe/finra_iframe.js" type="text/javascript"></script>

<link href="./static/src/widget/secinfo/secinfo.css" rel="stylesheet">
<script src="./static/src/widget/secinfo/secinfo.js" type="text/javascript"></script>

<link href="./static/src/widget/pfccyrisk/pfccyrisk.css" rel="stylesheet">
<script src="./static/src/widget/pfccyrisk/pfccyrisk.js" type="text/javascript"></script>

<link href="./static/src/widget/wfitable/wfitable.css" rel="stylesheet">
<script src="./static/src/widget/wfitable/wfitable.js" type="text/javascript"></script>

<link href="./static/src/widget/pfmonitor/pfmonitor.css" rel="stylesheet">
<script src="./static/src/widget/pfmonitor/pfmonitor.js" type="text/javascript"></script>

<link href="./static/src/widget/wfiplotchart/wfiplot.css" rel="stylesheet">
<script src="./static/src/widget/wfiplotchart/wfiplot.js" type="text/javascript"></script>

<!-- <link href="./static/src/widget/wfi.expandable.table/wfi.expandable.table.css" rel="stylesheet"> -->
<!-- <script src="./static/src/widget/wfi.expandable.table/wfi.expandable.table.js" type="text/javascript"></script> -->
<link href="./static/src/widget/wfi.table/wfi.table.css" rel="stylesheet">
<script src="./static/src/widget/wfi.table/wfi.table.js" type="text/javascript"></script>

<link href="./static/src/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="./static/src/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="./static/src/bootstrap.multiselect/css/bootstrap-multiselect.css" rel="stylesheet">
<script src="./static/src/bootstrap.multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>

<link href="./static/src/widget/wfi.control.panel/wfi.control.panel.css" rel="stylesheet">
<script src="./static/src/widget/wfi.control.panel/wfi.control.panel.js" type="text/javascript"></script>

<script src="./static/src/widget/wfi.search.bar/searchbar.js" type="text/javascript"></script>
<link href="./static/src/widget/wfi.search.bar/searchbar.css" rel="stylesheet">

<script src="./static/src/cookie/cookie.js" type="text/javascript"></script>

<script src="./static/dailysignoff/src/initialize_cob.js" type="text/javascript"></script>
<script src="./static/dailysignoff/src/script_cob.js" type="text/javascript"></script>

<link href="./static/dailysignoff/css/style_cob.css" rel="stylesheet">
<link href="./static/dailysignoff/css/color_cob.css" rel="stylesheet">
<!-- <link href="../SiteAssets/static/portfolioanalytics/controlpanel.css" rel="stylesheet"> -->

{% endblock %}

{% block scripts %}
<script>
 var fund_info = '{{ fund_info }}';
 $(document).ready(function() {main(fund_info)});
</script>
{% endblock %}

{% block app_content %}
<div style="display: block; height: 100%; position: relative; width: 100%;">
  <table style="width:100%; height:100%; position: relative; table-layout:fixed">
    <tbody>
      <tr>
        <td>
          <header id="PageTitle" data-bind="text: title"></header>
        </td>
      </tr>
      <tr>
        <td style="width:100%; height:100%;">
          <div style="overflow:auto; width:100%; height:100%; position: relative">
            <div style="width:100%; height:100%; min-width:2000px"> <!-- inline-size:fit-content;  -->

              <div id="tabs" class="child-diav" style="width:100%; height:100%;">
                <div id="content" style="width:100%; height:100%; top:10px; left:20px; position: relative">

                  <div id="pf-expo-monitor" class="widget"
                       style="width:415px; display:inline-block; height:173px;">
                  </div>

                  <div id="pf-summary" class="widget"
                       style="width:415px; display:inline-block; height:auto;">
                  </div>

                  <div id="pf-ccy-risk" class="widget"
                       style="width:270px; display:inline-block; height:auto;">
                  </div>

                  <div id="pf-margin" class="widget"
                       style="width:560px; display:inline-block; height:auto;">
                  </div>

                  <div id="pf-position-pnl" class="widget"
                       style="width:1730px; display:inline-block; height:auto;">
                  </div>

                  <div id="pf-txns" class="widget"
                       style="width:1730px; display:inline-block; height:auto;">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
