{% extends "base.html" %}

{% block scripts %}
<script>
  var fund_info = '{{ fund_info }}';
  var strategies = '{{strategies}}'
  var priorities = '{{priorities}}'
  $(document).ready(function() {
      main(fund_info, strategies, priorities);
      $('#wait-overlay').toggleClass('wait ready');
  });
</script>
{% endblock %}

{% block styles %}
{{super()}}
<meta charset="utf-8">
<script src="./static/src/jquery/jquery.js"></script>

<link href="./static/src/jquery/stylesheets/jquery-ui.css" rel="stylesheet">
<script src="./static/src/jquery/jquery-ui.js" type="text/javascript"></script>

<link href="./static/src/jquery.gridster/jquery.gridster.css" rel="stylesheet">
<script src="./static/src/jquery.gridster/jquery.gridster.js" type="text/javascript"></script>
<script src="./static/src/jquery.cookie/jquery.cookie.js" type="text/javascript"></script>

<script src="./static/src/numeral/numeral.js" type="text/javascript"></script>

<script src="./static/src/knockout-3.4.2/knockout.debug.js" type="text/javascript"></script>
<script src="./static/src/widget/cachedparams/cachedparams.js" type="text/javascript"></script>

<link href="./static/src/datatable/datatables.css" rel="stylesheet">
<script src="./static/src/datatable/datatables.js" type="text/javascript"></script>

<link href="./static/src/chosen/chosen.css" rel="stylesheet">
<script src="./static/src/chosen/chosen.jquery.js" type="text/javascript"></script>

<link href="./static/src/vis-4.21.0/vis.css" rel="stylesheet">
<script src="./static/src/vis-4.21.0/vis.js", type="text/javascript"></script>

<script src="./static/src/handlebars/handlebars-v4.0.11.js" type="text/javascript"></script>

<script src="./static/src/spjs_utility/spjs-utility.js", type="text/javascript"></script>
<script src="./static/src/d3/d3.js" type="text/javascript"></script>

<script src="./static/src/loadingIcon/loadingIcon.js" type="text/javascript"></script>

<script src="./static/src/widget/svg.icons/svg.icons.js" type="text/javascript"></script>
<link href="./static/src/widget/title.bar/title.bar.css" rel="stylesheet">
<script src="./static/src/widget/title.bar/title.bar.js" type="text/javascript"></script>

<script src="./static/src/widget/drag_drop/drag_drop.js" type="text/javascript"></script>

<script src="./static/src/widget/finraiframe/finra_iframe.js" type="text/javascript"></script>

<link href="./static/src/widget/sectimeline/sectimeline.css" rel="stylesheet">
<script src="./static/src/widget/sectimeline/sectimeline.js" type="text/javascript"></script>

<link href="./static/src/widget/secinfo/secinfo.css" rel="stylesheet">
<script src="./static/src/widget/secinfo/secinfo.js" type="text/javascript"></script>

<link href="./static/src/widget/pfccyrisk/pfccyrisk.css" rel="stylesheet"/>
<script src="./static/src/widget/pfccyrisk/pfccyrisk.js" type="text/javascript"></script>

<link href="./static/src/widget/pfmonitor/pfmonitor.css" rel="stylesheet"/>
<script src="./static/src/widget/pfmonitor/pfmonitor.js" type="text/javascript"></script>

<!-- <link href="./static/src/widget/wfi.expandable.table/wfi.expandable.table.css" rel="stylesheet"> -->
<!-- <script src="./static/src/widget/wfi.expandable.table/wfi.expandable.table.js" type="text/javascript"></script> -->
<link href="./static/src/widget/wfi.table/wfi.table.css" rel="stylesheet"/>
<script src="./static/src/widget/wfi.table/wfi.table.js" type="text/javascript"></script>

<link href="./static/src/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<script src="./static/src/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<link href="./static/src/bootstrap.multiselect/css/bootstrap-multiselect.css" rel="stylesheet" text="text/css"/>
<script src="./static/src/bootstrap.multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>

<link href="./static/src/widget/wfi.control.panel/wfi.control.panel.css" rel="stylesheet">
<script src="./static/src/widget/wfi.control.panel/wfi.control.panel.js" type="text/javascript"></script>

<script src="./static/src/widget/wfi.search.bar/searchbar.js" type="text/javascript"></script>
<link href="./static/src/widget/wfi.search.bar/searchbar.css" rel="stylesheet">

<script src="./static/src/cookie/cookie.js" type="text/javascript"></script>

<script src="./static/portfolioanalytics/src/initialize_portfoliostrategy.js" type="text/javascript"></script>
<script src="./static/portfolioanalytics/src/script_portfoliostrategy.js" type="text/javascript"></script>

<link href="./static/portfolioanalytics/css/style_portfoliostrategy.css" rel="stylesheet">
<link href="./static/portfolioanalytics/css/color_portfoliostrategy.css" rel="stylesheet">
<link href="./static/src/widget/common_style.css" rel="stylesheet">
<!-- <link href="../SiteAssets/static/portfolioanalytics/controlpanel.css" rel="stylesheet"> -->

{% endblock %}

{% block app_content %}
<div style="display: block; height: 100%; position: relative; width: 100%;">
  <table style="width:100%; height:100%; position: relative; table-layout:fixed">
    <tbody>
      <tr>
        <td>
          <div id="control-panel">
              <table>
                <tbody>
                  <tr>
                    <td class="ParamLabelCell"><label><span>Fund</span></label></td>
                    <td class="ParamEntryCell">
                      <select name="fund" class="boost1-multiselect" multiple="multiple"
                              data-bind="options: available_funds,
                                         multiselect: {includeSelectAllOption: true},
                                         optionsText: function(item) {return item.pid+'. '+item.pf_name;},
                                         optionsValue: 'pid',
                                         selectedOptions: selected_fund">
                      </select>
                    </td>
                    <td class="ParamLabelCell"><label><span>Strategy Tag</span></label></td>
                    <td class="ParamEntryCell">
                      <select name="strategy-tag" class="boost-multiselect"  multiple="multiple"
                              data-bind="options: available_tags,
                                         multiselect: {includeSelectAllOption: true},
                                         optionsText: function(item) {return item.strategy_tag+'. '+item.strategy_name;},
                                         optionsValue: 'strategy_tag',
                                         selectedOptions: selected_tag">
                      </select>
                    </td>
                    <td class="ParamLabelCell"><label><span>Initial Capital</span></label></td>
                    <td class="ParamEntryCell">
                     <input autocomplete="on" type="text" name="init-cap-1"
                             data-bind="textInput: init_cap, attr: {value: init_cap}"/>
                    </td>

                    <td class="ParamLabelCell"><label><span>Other Links</span></label></td>
                    <td class="ParamEntryCell">
                      <label>
                        <a href="./pf_lookthrough_strategy_scenario_test" target="_blank">Scenario Test</a>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td class="ParamLabelCell"><label><span>As Of Date</span></label></td>
                    <td class="ParamEntryCell">
                      <input type="datetime-local" data-bind="textInput: t_date, attr: {value: t_date}"/>
                    </td>

                    <td class="ParamLabelCell"><label><span>Reference Date</span></label></td>
                    <td class="ParamEntryCell">
                      <input type="datetime-local" data-bind="textInput: ref_date, attr: {value: ref_date}"/>
                    </td>

                    <td class="ParamLabelCell"><label><span>Data Priority</span></label></td>
                    <td class="ParamEntryCell">
                      <select name="data-priority" class="boost1-multiselect"
                              data-bind="options: available_priorities,
                                         optionsText: function(item) {
                                         return item.priority_tag+'. '+item.priority_name;},
                                         selectedOptions: selected_priority">
                      </select>
                    </td>

                  </tr>

                  <tr>
                    <td class="ParamLabelCell"><label><span>Filter</span></label></td>
                    <td class="ParamEntryCell" colspan="5">
                      <input name="filter-trades" type="text" autocomplete="on"
                             placeholder="filter trades"
                             data-bind="textInput: filter"/>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <header id="PageTitle" data-bind="text: title"></header>
        </td>
      </tr>
      <tr>
        <td style="width:100%; height:100%;">
          <div style="overflow:auto; width:100%; height:100%; position: relative">
            <div style="width:100%; min-width:2000px"> <!-- inline-size:fit-content;  -->

              <div id="tabs" class="child-diav" style="width:100%; height:100%;">
                <ul>
                  <li><a class="widget-title" href="#tab-1">Position and P&L</a></li>
                  <li><a class="widget-title" href="#tab-2">Trading Records</a></li>
                </ul>
                <div id="tab-1" style="float:left; width:100%; height:100%">
                  <div class="gridster">
                    <ul class="task-card-list">

                      <li data-row="1" data-col="1" data-sizex="3" data-sizey="3"
                          style="width: 415px;"
                          class="task-card">
                        <div id="pf-summary" class="widget"
                             style="width:100%; display:inline-block; height:auto;">
                        </div>
                      </li>

                      <li data-row="14" data-col="1" data-sizex="12" data-sizey="5"
                          style="width: 2000px;"
                          class="task-card">
                        <div id="pf-position-pnl" class="widget"
                             style="width:100%; display:inline-block; height:auto;">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div id="tab-2" style="float:left; width:100%; height:100%">
                  <div class="gridster">
                    <ul class="task-card-list">
                      <li data-row="1" data-col="1" data-sizex="5" data-sizey="5" class="task-card">
                        <div id="pf-txns" class="widget"
                             style="width:1730px; display:inline-block; height:auto;">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="wait-overlay" class="wait"
     style="position:absolute; height:100%; width: 100%; top: 0px; left: 0px; justify-content: center; align-items: center">
  <img src="./static/src/images/loadingAnimation.gif" style="height: 50px; width: 50px; position: absolute;">
</div>
{% endblock %}
