@import '~src/helpers';

$color-positive: green;
$color-negative: red;
$color-row: black;
$color-row-alternate: $background-color;

:host {
  background-color: $background-color;
}

::ng-deep .cell-div.positive {
  color: $positive-color;
}

::ng-deep .cell-div.negative {
  color: $negative-color;
}

::ng-deep .mat-button.positive {
    background-color: $color-positive;
  }

::ng-deep .mat-button.negative {
    background-color: $color-negative;
  }


.mat-header-row,
.mat-header-row>th,
.mat-footer-row {
  background-color: $background-color;
}

.pos-sub-header,
.pos-sub-header>th {
  background: map_get($theme-dark-colors, 900)!important;
  color: map_get(map_get($theme-dark-colors, 'contrast'), 900);
}

::ng-deep tr.pos-row:hover {
  background-color: map_get($theme-dark-colors, 800)!important;
  color: map_get(map_get($theme-dark-colors, 'contrast'), 800)!important;
}

.mat-row.even {
  background: map_get($theme-dark-colors, 600);
  color: map_get(map_get($theme-dark-colors, 'contrast'), 600);
}

.mat-row.odd {
  background: map_get($theme-dark-alternative-colors, 600);
  color: map_get(map_get($theme-dark-alternative-colors, 'contrast'), 600);
}

::ng-deep app-child-table.level-1 {
  .mat-row.even {
    background: map_get($theme-dark-colors, 500);
    color: map_get(map_get($theme-dark-colors, 'contrast'), 500);
  }

  .mat-row.odd {
    background: map_get($theme-dark-alternative-colors, 500);
    color: map_get(map_get($theme-dark-alternative-colors, 'contrast'), 500);
  }
}

::ng-deep app-child-table.level-2 {
  .mat-row.even {
    background: map_get($theme-dark-colors, 400);
    color: map_get(map_get($theme-dark-colors, 'contrast'), 400);
  }

  .mat-row.odd {
    background: map_get($theme-dark-alternative-colors, 400);
    color: map_get(map_get($theme-dark-alternative-colors, 'contrast'), 400);
  }
}

::ng-deep app-child-table.level-3 {
  .mat-row.even {
    background: map_get($theme-dark-colors, 300);
    color: map_get(map_get($theme-dark-colors, 'contrast'), 300);
  }

  .mat-row.odd {
    background: map_get($theme-dark-alternative-colors, 300);
    color: map_get(map_get($theme-dark-alternative-colors, 'contrast'), 300);
  }
}

::ng-deep app-child-table.level-4 {
  .mat-row.even {
    background: map_get($theme-dark-colors, 200);
    color: map_get(map_get($theme-dark-colors, 'contrast'), 200);
  }

  .mat-row.odd {
    background: map_get($theme-dark-alternative-colors, 200);
    color: map_get(map_get($theme-dark-alternative-colors, 'contrast'), 200);
  }
}

::ng-deep app-child-table.level-5 {
  .mat-row.even {
    background: map_get($theme-dark-colors, 100);
    color: map_get(map_get($theme-dark-colors, 'contrast'), 100);
  }

  .mat-row.odd {
    background: map_get($theme-dark-alternative-colors, 100);
    color: map_get(map_get($theme-dark-alternative-colors, 'contrast'), 100);
  }
}
