<div class="setting-panel">

  <div class="setting-form-content" *ngIf="settingForm">
    <form [formGroup]="settingForm"
          (keydown.enter)="$event.preventDefault()">

      <div class="bar"> Available Setting Fields </div>
      <div style="display: flex; flex-direction: column" class="section-group-by section">

        <mat-form-field>
          <!-- <input matNativeControl placeholder="Order Type" type="string"
               formControlName="orderType" required> -->
          <mat-label>{{'Initial Expansion Level'}}</mat-label>
          <input matNativeControl min="0"
                 formControlName="initialExpansion" required>
          <mat-error *ngIf="formErrors.initialExpansion">{{formErrors.initialExpansion}}</mat-error>
        </mat-form-field>
      </div>

      <div class="bar"> Group Level </div>

      <div style="display: flex; flex-direction: column" class="section-group-by section">

        <div *ngFor="let i of numGroup" class="group-row">
          <div class="input-group" style="display: flex; flex-direction: column">
            <mat-form-field>
              <!-- <input matNativeControl placeholder="Order Type" type="string"
                   formControlName="orderType" required> -->
              <mat-label>{{'Level ' + i}}</mat-label>
              <mat-select formControlName="{{'Level_' + i}}"
                          panelClass="group-select-option"
                          required>
                <mat-option *ngFor="let option of availableOptions;" [value]="option">
                  <span style="display:flex; flex-direction: row;">
                    <div>
                      {{option}}
                    </div>

                  </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="mdl-list__item-secondary-content delete-button-wrapper">
            <button *ngIf="i!=0" class="mdl-button delete-button mdl-js-button mdl-button--icon mdl-button--colored
                           mdl-button--mini-icon pull-right"
                    deleteItem
                    (click)="deleteGroup(i)">
              <i class="material-icons">clear</i>
            </button>
          </div>

        </div>

        <mat-dialog-actions>
          <button
              class="add-group-button  mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab
                     mdl-shadow--8dp mdl-button--colored"
              (click)="addGroup()">
            <i class="material-icons mdl-js-ripple-effect">add</i>
          </button>
          <span class="flex-spacer"></span>
        </mat-dialog-actions>
      </div>

    </form>
  </div>
</div>


<mat-dialog-actions class="mdl-card__actions">

  <span class="flex-spacer"></span>
	<button mat-button class="cancel mat-tab-nav-bar mat-background-primary text-floral-white" (click)="onNoClick()">Cancel</button>
	<button mat-button class="submit mat-tab-nav-bar mat-background-primary text-floral-white"
          [disabled]="settingForm.invalid"
          [mat-dialog-close]="{group_by: groupBy, initial_expanded_level: initialExpansion}" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
