<div class="mail-window">
  <app-spinner-or-error style="width:100%"
                        *ngIf="(loading$ | async) || errMsg" [loading$]="loading$" [errMsg]="errMsg">
  </app-spinner-or-error>

  <div class="mail-inbox" *ngIf="!((loading$ | async) || errMsg)">
    <ul class="mail-scroll" style="list-style: none">
      <div  *ngFor="let mailGroup of mailsGroup;">
        <div class="mail-group"> {{ mailGroup.t_date | date: 'YYYY-MM-dd'}} </div>
        <li *ngFor="let mail of mailGroup.children; index as i;"
            [class.selected]="selectedMail==mail"
            (click)="onSelect(mail, $event)">
          <div class="email-read-indicator" [class.unread]="!mail.isRead">
        </div>
          <div class="email-title">
          <div class="sender"> {{mail.sender.display}} </div>
          <div class="subject">{{mail.subject}}</div>
        </div>
        <div class="email-time">
          <div class="time-stamp"> {{mail.created | date: 'MM-dd HH:mm'}} </div>
          <div class="icons">
            <div *ngIf="mail.flagged"><i class="material-icons">flag</i></div>
            <div *ngIf="mail.hasAttachments"><i class="material-icons">attach_file</i></div>
          </div>
        </div>
        </li>
      </div>
    </ul>
  </div>
  <div class="mail-body" *ngIf="!((loading$ | async) || errMsg)">
    <div *ngIf="selectedMail" class="selectedMail">
      <div class="mail-header">
        <div class="mail-sub-header">
          <div class="mail-subject"> {{ selectedMail.subject }}</div>
          <div class="mail-sender"> {{ selectedMail.sender.display }} </div>
          <div class="mail-receiver"> to: {{ selectedMail.recipients }} </div>
        </div>
        <div class="control-panel">
          <div class="row">
            <button class="confirm-trade" *ngIf="!ticket.broker_confirmed"
                    mat-stroked-button color="accent" (click)="ConfirmTrade()">
              Confirm Trade
            </button>
          </div>
        </div>
      </div>
      <div class="mail-attachments">
        <div class="attachment" *ngFor="let attachment of selectedMail.attachments">
          <i class="material-icons">attach_file</i>
          <div class="attachment-file">{{ attachment.name }}</div>
        </div>
      </div>
      <div class="mail-content" [innerHtml]="selectedMail.body">
      </div>
    </div>
  </div>
</div>
