::ng-deep .event-text {
  font-weight: bold;
  font-size: 8px;
  fill: white;
}

::ng-deep .circle {
  cursor: pointer;
  background: gold;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 9px;
}

// call back
::ng-deep .circle.FC {
  background-color: red;
}

::ng-deep .circle.PC {
  background-color: red;
}

// earning
::ng-deep .circle.E {
  background-color: orange;
}

// conversion
::ng-deep .circle.C {
  background-color: green;
}

// tender offer
::ng-deep .circle.O {
  background-color: steelblue;
}

// interest
::ng-deep .circle.IP {
  background-color: purple;
}

::ng-deep div.tooltip {
  background-color: black;
  color: white;
  font-weight: bold;
  z-index: 10000;
  padding: 5px;
}
